@charset "UTF-8";

#conte{
    background: black url(imagens/espaco.jpg) center center no-repeat fixed;
    background-size: 100% 100%;
    position: relative;
    height: 98vh;
   
}
#cente{
    position: absolute;
    top: 50%;
    left: 50%;
    background-image: url(imagens/astronauta.png);
    width: 520px;
    height: 500px;
    transform: translate(-50%, -50%);
}